<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="YouCompleteMe.Properties.Settings.project6920ConnectionString"
            connectionString="Data Source=den1.mssql1.gear.host;Initial Catalog=project6920;Persist Security Info=True;User ID=project6920;Password=Mt2K?g9dtCo?"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>